*{
    margin: auto;
}

body{
    background-color:rgba(104, 211, 219, 0.671)
}

h1{
    background-color:rgb(105, 212, 220)
}

#misupertitulo{
    color:rgba(255, 0, 119, 0.719);
    text-align: center;
    font-size: 50px;
    padding: 15px;
}

#titulo{
    color:rgba(255, 0, 119, 0.719);
    text-align: center;
    font-size: 40px
}

p{
    font-style: italic;
    font-weight: bolder;
    font-size: 15px;
    color: darkgreen;
    margin: 40px;
    border: 2px solid black;
    padding: 40px;
    text-align: center;
}

.imagenesintro{
    width: 280px;
    display: block;
    margin-top: 30px ;
}

video{
     width: 490px; 
     height: 290px;
}

a:hover{
    color: white;
    font-size: 20px;
    font-style: italic;
}

img:hover{
    width: 320px;
}

.hiper{
    display: inline;
    padding: 40px;
    margin-bottom: 50px;
}